<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Order Management</h2>

<br><br>

<select name="checkpoint" class="form-control" id="checkp">
    <% checkpoints.forEach(function(cpt){ %>
        <option value="<%= cpt.slug %>"><%= cpt.title %></option>
    
</select>

<a href="/admin/orders/<%= cpt.slug %>" class="btn btn-primary"  >Find <%= cpt.title %></a>
<% }); %>
  <br><br>

<% Order.forEach(function(o){ %>
<table class="table table-bordered">

    <tr>
        <th>Checkpoint</th>
        <td><%= o.checkpoint %></td>
    </tr>
    <tr>
        <th>Order ID</th>
        <td><%= o.OrderID %></td>
    </tr>
     
    <tr>
        <th>Name</th>
        <td><%= o.Name %></td>
    </tr>
    <tr>
        <th>Address</th>
        <td><%= o.address %></td>
    </tr>
    <tr>
        <th>Phone#1</th>
        <td><%= o.PhoneNum1 %></td>
        
    </tr>
    <tr>
        <th>Phone#2</th>
        <td><%= o.PhoneNum2 %></td>
    </tr>
    <tr>
        <th>Product</th>
        <td>
        <% o.ProductsOrdered.forEach(function(p){ %>
         <p><%=p.qty%> - <%= p.title %></p>
        <% }); %>
        </td>
    </tr>
    <tr>
        <th>Method:</th>
        <td><%= o.method %></td>
        
    </tr>
    <tr>
        <th>CreatedAt</th>
        <td><%= o.createdAt %></td>
    </tr>
    <tr>
        <td><a class="confirmDeletion" href="/admin/orders/delete-order/<%= o._id %>">Delete</a></td>
    </tr>
   
</table>

<br><br>
<% }); %>

<script >
   function GetSelectedValue(){
				var e = document.getElementById("country");
				var result = e.options[e.selectedIndex].value;

				document.getElementById("result").innerHTML = result;
			}
</script>

<%- include('../_layouts/adminfooter') %>